<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">
</head>
<body>
	<header th:replace="plantilla/plantilla :: header"></header>




	<div class="container w-50 p-1">


		<form class="container was-validated w-75 p-1" th:action="@{/views/visita/registrar}"
			th:object="${visitantes}">


			<div class="form-group row">
				<label class="col-md-2" for="ciudad">Visitante:</label>

				<div class="form-inline">
					<div class="d-inline p-2">
						<label>Dni:</label> 
						<input type="text" name="dni"
							class="w-50 p-1" id="dni" value="" placeholder="Digite Dni"
							required> &nbsp;&nbsp;
							
							 <input type="submit"
							class="btn btn-info mb-2" value="Buscar">&nbsp;&nbsp;
							<input type="button"
							class="btn btn-primary mb-2" value="Registrar Visitante" onclick="registrar()">
							
							 
					</div>


				</div>
			</div>



		</form>

		<form  class="container w-75 p-1" th:action="@{/views/visita/save}" th:object="${visita}" method="POST">
			<input type="hidden" th:field="*{idvisita}">
			
			<div class="form-group">
				<label for="inputState" class="form-label">Nombre</label> <br> <select
					id="inputState" th:field="*{idvisitante}" class="form-select">
					<option th:each="visitante:${visitantes}"
						th:value="${visitante.idvisitante}" th:text="${visitante.nombre}">
				</select>
			</div>
			<div class="form-group">
				<label for="inputState" class="form-label">Residente</label> <br> <select
					id="inputState" th:field="*{residente}" class="form-select">
					<option th:each="residente:${residentes}"
						th:value="${residente.idResidente}" th:text="${residente.nombre}">
				</select>
			</div>
			
			<div class="form-group">
					<label for="validationDate" class="form-label">Hora
						Entrada</label> <input type="date"
						class="form-control" id="validationDate"
						placeholder="ingresar fecha de nacimiento" > 
				</div>
				
			<div class="form-group">
					<label for="validationDate" class="form-label">Hora
						Salida</label> <input type="date"
						class="form-control" id=" validationDate"
						placeholder="ingresar fecha de nacimiento" >
				</div>
						<br>
			<button type="submit" class="btn btn-primary">Registrar</button>
			
		</form>



	</div>

	<footer th:replace="plantilla/plantilla :: footer"></footer>


<script type="text/javascript">
		function limpiar(){
		window.location='/views/visita/'
		}
		
		function registrar(){
		window.location='/views/vistante/registrar'
		}
	</script>
</body>
</html>