<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/plantilla :: head">
</head>
<body>


<body>
<header th:replace="plantilla/plantilla :: header"></header>
	
	
	<div class="container w-25 p-3">
		

		<br>
		<form class="was-validated" th:action="@{/views/departamentos/save}"
			th:object="${departamento}" method="POST">
			<div class="form-row">

				<input type="hidden" th:field="*{iddepartamento}"
					class="form-control" id="codigoDepartamento">

				<div class="form-group">
					<label for="inputState" class="form-label">Propietario</label> <br>
					<select id="inputState" th:field="*{propietario}" class="form-select">
						<option th:each="propietario:${propietarios}" th:value="${propietario.idPropietario}" th:text="${propietario.nombre}">
						
					</select>
				</div>
				
				<div class="form-group">
					<label for="validationText" class="form-label">Numero</label>
					<input type="number" min="100" max="999"  th:field="*{numdepartamento}" class="form-control"
						id="numdepartamento validationText" placeholder="ingresar numero departamentos" required >
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('numdepartamento')}" th:errors="*{numdepartamento}"></small>
				</div>
				
				<div class="form-group">
					<label for="validationText" class="form-label">Habitaciones</label>
					<input type="number" min="1" max="5" th:field="*{habitaciones}" class="form-control"
						id="habitaciones validationText" placeholder="ingresar numero de habitaciones" required >
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('habitaciones')}" th:errors="*{habitaciones}"></small>
				</div>
			
			   <div class="form-group">
					<label for="validationText" class="form-label">Area</label>
					<input type="number" min="50" max="150" th:field="*{area}" class="form-control"
						id="area validationText" placeholder="ingresar numero del area cuadrada" required >
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></small>
				</div>
				
				
				 <div class="form-group">
					<label for="validationText" class="form-label">Baños</label>
					<input type="number" min="1" max="9" th:field="*{banos}" class="form-control"
						id="banos validationText" placeholder="ingresar numero de baños" required >
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('banos')}" th:errors="*{banos}"></small>
				</div>
	
				
			</div>

			<br>
			<button type="submit" class="btn btn-primary">Registrar</button>


	</div>


	<footer th:replace="plantilla/plantilla :: footer"></footer>

</body>
</html>