<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">

<head th:replace="plantilla/plantilla :: head">

	<head>
		<meta>
		<title>Pago de boleta</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

		<!-- Popper JS -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	</head>

<body>
	<header th:replace="plantilla/plantilla :: header"></header>
	<div class="container">
		<h1 th:text="${titulo}"></h1>
	</div>

	<div class="container">

	
	<form class="form-inline" th:action="@{/views/Boleta/pago}">
			
				<label>Filtrar: </label> 
				<input type="text" name="filtro"
					class="w-25 p-1" id="filtro" value=""
					placeholder="Escriba un nombre o dni" required>
				
				<div class="d-inline p-2 text-right">
				   <label>Estado: </label> 
					<select name="estado" id="estado" class="form-select d-inline w-25" aria-label="Default select example" onchange="this.form.submit()">
						<option selected value=" ">Selecciona el estado de la boleta</option>
						<option class="text-primary"  value="Cancelado">Cancelado</option>
						<option class="text-danger" value="Pendiente">Pendiente</option>
					</select>
				</div>
				
				<div class="d-inline p-2 text-right">
						<label>Servicio: </label>
						<select id="inputState" th:field="*{servicioPago}" class="form-select">
							<option th:each="servicioPago:${servicios}" th:value="${servicioPago.idservicio}"
								th:text="${servicioPago.nombreserv}">

						</select>
					</div>
				
				<input type="submit" class="btn btn-info mb-2"
					value="Filtrar"> 
					
				
			</div>


		</form>


		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id boleta</th>
					<th scope="col">Nombre Propietario</th>
					<th scope="col">Año</th>
					<th scope="col">Fecha Pago</th>
					<th scope="col">Servicio</th>
					<th scope="col">Estado</th>
					<th scope="col" sec:authorize="hasRole('ROLE_GERENTE')">Pagar</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="d:${boletas}">

					<td th:text="${d.idboleta}"></td>
					<td><label><span th:text="${d.propietario.nombre}">
						</span>&nbsp;<span th:text="${d.propietario.apellidos}"></span></label></td>
					<td th:text="${d.anio}"></td>
					<td th:text="${d.fechaVenc}"></td>
					<td th:text="${d.servicio.nombreserv}"></td>

					<td th:switch="${d.estado}"><span class="text-primary"
						th:case="'Cancelado'" th:text="${d.estado}"></span> <span
						class="text-danger" th:case="'Pendiente'" th:text="${d.estado}"></span>
					</td>


					
					<td sec:authorize="hasRole('ROLE_ADMIN')">
						<a class="btn btn-danger btn-sm" th:href="@{/views/Boleta/pago/delete/} + ${d.idboleta}"
							th:text="'Pagar'" title="Pagar boleta"
							onclick="return confirm('Boleta cancelada satisfactoriamente');">
						</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
	<footer th:replace="plantilla/plantilla :: footer"></footer>

    <script type="text/javascript">
		function pago(){
		window.location='/views/Boleta/pago'
		}
		
	</script>

</body>

</html>